.container {
  width: 30rem;
  margin: auto;
  padding: 1rem;
  border-radius: .6rem;
}

h1 {
  text-align: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.section {
  display: flex;
  justify-content: space-evenly;
}

.full-width {
  width: 80%;
}

img {
  height: 8rem;
  margin: auto;
}


.buttons {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  margin-top: .5rem ;
}